@import "../core/variables.scss";

.tweet {
  &__wrapper {
    display: flex;
    align-items: flex-start;
    padding: 0.7rem 1rem 0.3rem 1rem;
    border-bottom: 1px solid $border;
    color: black;

    &:hover {
      background-color: $border;
    }
  }

  &__avatar {
    margin-right: 1rem;
    border-radius: 50%;
  }

  &__content {
    flex-grow: 1;
    font-size: $size-main-text;
  }

  &__user {
    padding-right: 0.5rem;
    font-weight: 700;
  }

  &__username {
    padding-right: 0.25rem;
    color: $color-text-secondary;
  }

  &__date {
    color: $color-text-secondary;

    &::before {
      padding-right: 0.25rem;
      content: "·";
    }
  }

  &__actions {
    display: flex;
    padding: 0.7rem 0 0.3rem 0;
    justify-content: space-between;

    & > * {
      width: 25%;
    }
  }

  &__comments,
  &__retweets,
  &__likes,
  &__share {
    background-repeat: no-repeat;
    font-size: 0.9rem;
    color: $color-text-secondary;
  }

 &__comments i,
  &__retweets i,
  &__likes i,
  &__share i{
    padding: 0.4rem;
  }

  &__comments {
    &:hover .fa-comment{
      color: $color-icon-blue;
      background-color: $color-icon-blue-light;
      border-radius: 2rem;
      font-size: 0.9rem;
    }

    &:hover {
      color: $color-icon-blue;
    }
  }

  &__retweets {
    &:hover .fa-retweet{
      color: $color-icon-green;
      background-color: $color-icon-green-light;
      border-radius: 2rem;
      font-size: 0.9rem;
    }

    &:hover {
      color: $color-icon-green;
    }
  }

  &__likes{
    &:hover .fa-heart{
      color: $color-icon-red;
      background-color: $color-icon-red-light;
      border-radius: 2rem;
       font-size: 0.9rem;
    }

    &:hover {
      color: $color-icon-red;
    }
  }

  &__share {

    &:hover .fa-arrow-up-from-bracket{
      color: $color-icon-blue;
      background-color: $color-icon-blue-light;
      border-radius: 2rem;
      font-size: 0.9rem;
    }

    &:hover {
      color: $color-icon-blue;
    }

    &--text {
      display: none;
    }
  }
}
