$color-blue-dark: #1da1f2;
$color-blue-dark-hover: #1a8cd8;
$color-blue-light: #e8f5fe;

$color-text-secondary: #536471;

$color-icon-red-light: #ffd1e7;
$color-icon-red: #f91880;
$color-icon-green-light: #cef8ea;
$color-icon-green:#00ba7c;
$color-icon-blue-light:#cce7fa;
$color-icon-blue:#1d9bf0;

$border: #eee;

// size
$size-main-text: 0.9375rem;
